@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
}

:root {
    --links-color: #131313;
    --theme-color: #f7444e;
    --blue-color: #002c3e;
    --play-text: "Playfair Display", serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.logo {
    width: 250px;
}

.logo img {
    width: 100%;
}

.links {
    display: flex;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.links a {
    text-decoration: none;
    color: var(--links-color);
    font-weight: 700;
}

.links li {
    display: flex;
    gap: 7px;
    align-items: end;
}

.links i {
    font-size: 20px;
}

i:hover,
a:hover {
    color: var(--theme-color);
}

/* Mobile menu toggle */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hero-section {
    background: url('./images/slider-bg.jpg');
    background-size: cover;
    min-height: 500px;
    position: relative;
    padding: 40px 20px;
}

.header-text {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .header-text {
        width: 60%;
        position: absolute;
        left: 150px;
        top: 100px;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .header-text {
        width: 40%;
    }
}

.header-text h1,
.header-text span {
    color: var(--theme-color);
    font-family: var(--play-text);
    font-size: 3rem;
}

@media (min-width: 768px) {
    .header-text h1,
    .header-text span {
        font-size: 4rem;
    }
}

.header-text span {
    color: #002c3e;
}

.header-text button {
    display: inline-block;
    padding: 12px 45px;
    width: fit-content;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    border-radius: 0;
    transition: all 0.3s;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid transparent;
}
.header-text a{
    color: #ffffff;
    text-decoration: none;
}
.header-text button:hover a{
    color: var(--theme-color);
}
.header-text button:hover{
    border: 1px solid var(--theme-color);
    background: transparent;
}

.header-text p {
    line-height: 25px;
}

/* ----------SERVICES------------ */

.shop {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
}

.shop h1 {
    text-align: center;
    font-family: var(--play-text);
    font-size: 36px;
    text-decoration: 5px #f7444e underline;
    text-underline-offset: 20px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .shop h1 {
        font-size: 48px;
    }
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media (min-width: 768px) {
    .services {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 30px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    background: #002c3e;
    color: #ffffff;
    width: 100%;
    max-width: 300px;
}

.service-box img {
    width: 50px;
    height: 50px;
}

/* -----------NEW ARRIVAL------- */
.new-Arrival-block {
    background-color: #d4ced0;
}

.new-arrivals {
    width: 100%;
    min-height: 500px;
    background: url('./images/arrival-bg.png');
    background-color: #d4ced0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px 20px;
}

.new-arrival-text {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .new-arrivals {
        min-height: 600px;
    }
    
    .new-arrival-text {
        width: 40%;
        position: absolute;
        right: 10%;
        top: 150px;
        margin: 0;
    }
}

.new-arrival-text a {
    display: inline-block;
    padding: 12px 45px;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 0;
    transition: all 0.3s;
    font-weight: 700;
    text-decoration: none;
    border: none
}

.new-arrivals h1 {
    color: var(--blue-color);
    font-family: var(--play-text);
    font-size: 3rem;
}

@media (min-width: 768px) {
    .new-arrivals h1 {
        font-size: 4rem;
    }
}

.new-arrival-text p {
    line-height: 25px;
}

.new-arrivals button {
    border: none;
    width: fit-content;
}

/* -------OUR PRODUCTS-------- */
.our-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.our-products h1,
.our-products span {
    font-family: var(--play-text);
    font-size: 36px;
    padding: 20px 0;
    text-align: center;
}

@media (min-width: 768px) {
    .our-products h1,
    .our-products span {
        font-size: 48px;
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
}

@media (min-width: 576px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: 8px white solid;
    box-shadow: 2px 2px 2px rgb(224, 222, 222);
    background: #f8f8f8;
    height: 250px;
}

.item-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: 600;
    position: absolute;
    z-index: 3;
    bottom: 15px;
}

.item img {
    width: 150px;
    position: absolute;
}

.layer {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.614);
    position: relative;
    z-index: 5;
    transition: 0.5s ease-in-out;
    top: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.layer button {
    position: relative;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    transition: 0.5s all;
}

#btn1 {
    border: 1px solid transparent;
    background: var(--theme-color);
}

#btn1:hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    background: none;
}

#btn2 {
    border: 1px solid transparent;
    background: var(--blue-color);
}

#btn2:hover {
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    background: none;
}

.item:hover .layer {
    cursor: pointer;
    display: flex;
    top: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn button {
    width: 240px;
    padding: 10px 0;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    border: 1px solid transparent;
    background: var(--theme-color);
}

.btn button:hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    background: none;
}

/* -------Subscribe------ */
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4ced0;
    padding: 50px 20px;
}

.subscribe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #d4ced0;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.subscribe h2 {
    font-size: 30px;
    font-family: var(--play-text);
}

@media (min-width: 768px) {
    .subscribe h2 {
        font-size: 40px;
    }
}

.subscribe p {
    font-size: 18px;
    line-height: 24px;
}

.subscribe-text input {
    width: 100%;
    border-radius: 30px;
    border: transparent;
    padding: 15px;
    font-size: 18px;
    outline: none;
}

.subscribe button {
    width: 100%;
    max-width: 280px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    border: 1px solid transparent;
    background: var(--theme-color);
}

.subscribe button:hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    background: none;
}

/* -----Customer  Testimonial------ */
.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content h2 {
    text-align: center;
    font-size: 36px;
    font-family: var(--play-text);
}

@media (min-width: 768px) {
    .content h2 {
        font-size: 48px;
    }
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .pic {
        height: 180px;
        width: 180px;
    }
}

.pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.r-btn,
.l-btn {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background: var(--theme-color);
    color: #ffffff;
}

@media (min-width: 768px) {
    .r-btn,
    .l-btn {
        width: 60px;
        height: 60px;
    }
}

.r-btn i,
.l-btn i {
    font-size: 24px;
}

@media (min-width: 768px) {
    .r-btn i,
    .l-btn i {
        font-size: 30px;
    }
}

.r-btn:hover,
.l-btn:hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    background: none;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
}

.name span {
    font-size: 16px;
    color: #999998;
    font-family: "Montserrat", sans-serif;
}

.name p {
    width: 100%;
    max-width: 900px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}

/* ------footer----- */
.footer {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 40px;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.contact img {
    width: 200px;
    margin-bottom: 20px;
}

.contact {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 24px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.link a {
    text-decoration: none;
    color: black;
}

.menu, .account, .newsletter {
    width: 100%;
    max-width: 325px;
}

.footer h3 {
    margin-bottom: 20px;
}

.mail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

@media (min-width: 576px) {
    .mail {
        flex-direction: row;
        gap: 0;
    }
}

.mail input {
    height: 40px;
    width: 100%;
    font-size: 15px;
    border: 1px solid grey;
    padding: 0 10px;
}

.mail button {
    height: 42px;
    width: 100%;
    max-width: 150px;
    font-size: 15px;
    padding: 0 4px;
    color: #ffffff;
    border: 1px solid transparent;
    background: var(--theme-color);
    outline: none;
}

footer {
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    line-height: 24px;
}

footer span {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

/* Responsive Mobile Menu */
@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .nav-links {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
    
    .nav-links.active {
        max-height: 500px;
    }
    
    .links {
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        gap: 15px;
    }
    
    .links li {
        width: 100%;
    }
}